{% extends 'base.html' %} {# For specifiying the template html for inheritance #}

{% block head %} {# beginning of the header tag #}
<title>Task Master Login</title>
{% endblock %} {# end of the header tag #}

{% block body %} {# beginning of the body tag #}

<div class="content" style="padding-top:400px;">
	<h1>Login to the Task Master</h1>
	<form id="username" action="/" method="POST">
		<!-- Text that is gonna sending to web server, name="name" is for reference data after submitted -->
		<!-- id="name" is for styling the input text bar -->
		<input type="text" name="name" id="name">
		<!-- Submit button for sending the data as "name" -->
		<input type="submit" value="Login">
	</form>
		
</div>
{% endblock %} {# end of the body tag #}
